<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Contact Me</title>
	</head>
	<body>
		<header class="header contact">
			<nav class="nav contact">
				<ul>
					<li class="nav list contact">
						<a href="./index.html" class="nav elements"> Home </a>
					</li>

					<li class="nav list contact">
						<a href="./portfolio.html" class="nav elements">
							Portfolio
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<section class="lead">
			<p class="lead text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation ullamco laboris
				nisi ut aliquip ex ea commodo consequat.
			</p>
			<h1 class="lead contact">
				<a
					href="mailto:dattali93@gmail.com?subject=Freelance Work&body=Dear David, I'd like to hire you to"
					class="lead contact email"
					>Email Me</a
				>
			</h1>
		</section>
		<footer class="footer">
			<ul>
				<li class="footer list">
					<a
						href="https://twitter.com/dattali2020"
						class="footer social"
						>Twitter</a
					>
				</li>
				<li class="footer list">
					<a
						href="https://www.linkedin.com/in/david-attali-2b2305b9/"
						class="footer social"
						>LinkedIn</a
					>
				</li>
			</ul>
		</footer>
	</body>
</html>
