* {
	box-sizing: border-box;
	background: rgb(48, 56, 65);
	color: white;
}

img {
	height: 20em;
	width: 20em;
	border-radius: 50%;
}

.nav,
.elements {
	color: red;
	text-decoration: none;
}

.identifier {
	height: 30em;
	margin: 0, auto;
}

li {
	display: inline-block;
	border-right: 3px solid white;
	padding: 1em;
}

li:last-child {
	border-right: 0px;
}

.description {
	width: 50%;
}

article {
	display: inline-block;
	float: left;
}
